$font-title:Arial,sans-serif;
$color-title:#333;
$color-standard:#666666;
$color-info:$color-standard;
$color-icon:#000;
$color-pagination:#fff;
$color-pagination-bg:$color-title;
$color-pagination-bg-active:#062c60;

$screen-max-width-tablet:900px;

$main-container-width-mobile:100vw;
$main-container-width-desktop:35vw;

@import 'TopMovies';
@import 'Pagination';
@import 'MovieDetails';

#root {
  font-family: Verdana, Arial, sans-serif;
  color: $color-standard;
}

body{
  margin:0;
}

.div-block-center{
  display: block;
  text-align: center;
}

.inline-block{
  display: inline-block;
}