
  .movie-details-container{
    display:inline-block;
    width:$main-container-width-desktop;
  }

  .movie-details-card{
    @extend .card-container;
    display:block;
    text-align: left;
  }
  
  .movie-details-card-title{
    font-family:$font-title;
    color:$color-title;
    font-weight: bold;
    font-size:1.25rem;
    padding:0.5rem 0.5rem;
  }

  .movie-details-card-title.sub{
    font-size:1rem;
    padding:0;
  }
  
  .movie-details-card-content{
    color:$color-standard;
    padding:0.5rem 0.5rem;
  }
  
  .movie-details-trailer{
    width:100%;
    height:calc(9/16*#{$main-container-width-desktop});
  }
  
  @media only screen and (max-width: $screen-max-width-tablet){
    .movie-details-container{
      width:100vw;
      margin:0;
    }
  
    .movie-details-trailer{
      height:calc(9/16*#{$main-container-width-mobile});
    }
  }
  