
.movie-list-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.5rem;
}

.movie-list-row{
    display:flex;
    flex-direction: row;
    align-content: center;
}
  
.movie-list-entry{
    @extend .card-container;
    align-items: center;
    text-align: center;
    width:185px;
    cursor: pointer;
}

.movie-list-entry.vertical{
    display:block;
    width:100%;
    margin:0.5rem 0 0;
}

.movie-list-entry 
    img{
        width:100%;
    }

.movie-list-entry-card{
    display:flex;
    flex-direction: column;
    flex:1;
    padding:0.5rem 0.5rem;
    width:100%;
}

.movie-list-entry-title{
    font-family:$font-title;
    color:$color-title;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-list-entry-info{
    margin-top:auto;
    padding-top:0.5em;
    color:$color-info;
    font-weight: bold;
    font-size: 0.75rem;
}

.movie-list-entry-info
    span
        i{
        color:$color-icon;
        }